## Importing and Organizing Your Data in Python - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

a. Create a series object of 10 randomly generated integer values.

In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(10), name ="Column 01")

In [3]:
ser

0    0.170999
1    0.169348
2    0.630225
3    0.643051
4    0.582971
5    0.800819
6    0.637793
7    0.470629
8    0.042387
9    0.778765
Name: Column 01, dtype: float64

b. Extract data from IEX for Ford from the 1st of January 2015. The ticker you need is ‘F’.

In [4]:
from pandas_datareader import data as wb

In [6]:
PG = wb.DataReader('MSFT', data_source='iex', start='2015-1-1', api_key='pk_fe22aca60e384ddda56600befe028e4d')

In [21]:
PG

             open   high    low  close    volume
date
2015-01-02  15.59  15.65  15.18  15.36  24777911
2015-01-05  15.12  15.13  14.69  14.76  44079745
2015-01-06  14.88  14.90  14.38  14.62  32981627
2015-01-07  14.78  15.09  14.77  15.04  26065329
2015-01-08  15.40  15.48  15.23  15.42  33943398
...           ...    ...    ...    ...       ...
2019-11-18   9.05   9.05   8.89   8.95  38296388
2019-11-19   8.99   9.00   8.87   8.90  31192765
2019-11-20   8.88   8.89   8.68   8.73  38291750
2019-11-21   8.77   8.79   8.67   8.71  33161371
2019-11-22   8.80   8.90   8.77   8.89  34966746

[1233 rows x 5 columns]